USE [master]
GO
/****** Object:  Database [HOTELBOOKINGSYSTEM]    Script Date: 3/7/2026 3:36:45 PM ******/
CREATE DATABASE [HOTELBOOKINGSYSTEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOTELBOOKINGSYSTEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HOTELBOOKINGSYSTEM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HOTELBOOKINGSYSTEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HOTELBOOKINGSYSTEM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOTELBOOKINGSYSTEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOTELBOOKINGSYSTEM]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 3/7/2026 3:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[full_name] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[username] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK47bvqemyk6vlm0w7crc3opdd4] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKmi8vkhus4xbdbqcac2jm4spvd] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 3/7/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[check_in] [date] NOT NULL,
	[check_out] [date] NOT NULL,
	[guests] [int] NOT NULL,
	[total_price] [numeric](38, 2) NULL,
	[created_at] [datetime2](7) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[room_id] [bigint] NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[user_id] [bigint] NOT NULL,
	[refund_status] [varchar](255) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[cancelled_at] [datetime2](7) NULL,
	[refund_amount] [numeric](38, 2) NULL,
	[refund_percentage] [int] NULL,
	[cancellation_reason] [varchar](255) NULL,
	[check_in_status] [varchar](50) NULL,
	[qr_code] [nvarchar](max) NULL,
	[actual_check_in_time] [datetime2](7) NULL,
	[actual_check_out_time] [datetime2](7) NULL,
	[check_in_notes] [nvarchar](max) NULL,
	[check_in_time] [datetime2](7) NULL,
	[check_out_time] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refund_transactions]    Script Date: 3/7/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refund_transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_holder_name] [varchar](255) NOT NULL,
	[account_number] [varchar](255) NOT NULL,
	[admin_note] [text] NULL,
	[bank_name] [varchar](255) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[processed_at] [datetime2](7) NULL,
	[refund_amount] [numeric](38, 2) NOT NULL,
	[refund_deadline] [datetime2](7) NULL,
	[refund_percentage] [int] NOT NULL,
	[status] [varchar](255) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKe39nkn8uxas0i6n2mkcbjok8i] UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_change_requests]    Script Date: 3/7/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_change_requests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[old_room_id] [bigint] NOT NULL,
	[new_room_id] [bigint] NOT NULL,
	[price_difference] [decimal](15, 2) NOT NULL,
	[status] [varchar](255) NULL,
	[admin_note] [nvarchar](max) NULL,
	[requested_at] [datetime] NULL,
	[processed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_types]    Script Date: 3/7/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_types](
	[base_price] [numeric](38, 2) NOT NULL,
	[capacity] [int] NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 3/7/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[price_per_night] [numeric](38, 2) NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[room_type_id] [bigint] NOT NULL,
	[room_number] [varchar](255) NOT NULL,
	[status] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK7ljglxlj90ln3lbas4kl983m2] UNIQUE NONCLUSTERED 
(
	[room_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/7/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[phone_number] [varchar](15) NULL,
	[citizen_id] [varchar](20) NULL,
	[email] [varchar](255) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](255) NOT NULL,
	[auth_provider] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_check_in_status]    Script Date: 3/7/2026 3:36:46 PM ******/
CREATE NONCLUSTERED INDEX [idx_check_in_status] ON [dbo].[bookings]
(
	[check_in_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((100)) FOR [refund_percentage]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ('PENDING') FOR [check_in_status]
GO
ALTER TABLE [dbo].[room_change_requests] ADD  DEFAULT ((0)) FOR [price_difference]
GO
ALTER TABLE [dbo].[room_change_requests] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FKeyog2oic85xg7hsu2je2lx3s6] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FKeyog2oic85xg7hsu2je2lx3s6]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FKrgoycol97o21kpjodw1qox4nc] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FKrgoycol97o21kpjodw1qox4nc]
GO
ALTER TABLE [dbo].[refund_transactions]  WITH CHECK ADD  CONSTRAINT [FK5qs7u0f5aqbqg1o0sdeibj6ih] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[refund_transactions] CHECK CONSTRAINT [FK5qs7u0f5aqbqg1o0sdeibj6ih]
GO
ALTER TABLE [dbo].[refund_transactions]  WITH CHECK ADD  CONSTRAINT [FKms5a0y3tggujevnor6tyqx6hb] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[refund_transactions] CHECK CONSTRAINT [FKms5a0y3tggujevnor6tyqx6hb]
GO
ALTER TABLE [dbo].[room_change_requests]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[room_change_requests]  WITH CHECK ADD FOREIGN KEY([new_room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[room_change_requests]  WITH CHECK ADD FOREIGN KEY([old_room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[room_change_requests]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[rooms]  WITH CHECK ADD  CONSTRAINT [FKh9m2n1paq5hmd3u0klfl7wsfv] FOREIGN KEY([room_type_id])
REFERENCES [dbo].[room_types] ([id])
GO
ALTER TABLE [dbo].[rooms] CHECK CONSTRAINT [FKh9m2n1paq5hmd3u0klfl7wsfv]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD CHECK  (([cancellation_reason]='NO_REASON' OR [cancellation_reason]='WORK_EMERGENCY' OR [cancellation_reason]='HEALTH_ISSUE' OR [cancellation_reason]='FIND_BETTER_PRICE' OR [cancellation_reason]='PLAN_CHANGED' OR [cancellation_reason]='PERSONAL_REASON'))
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD CHECK  (([refund_status]='RECEIVED' OR [refund_status]='TRANSFERRED' OR [refund_status]='REQUESTED' OR [refund_status]='NONE'))
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='CONFIRMED' OR [status]='PENDING_CONFIRM'))
GO
ALTER TABLE [dbo].[refund_transactions]  WITH CHECK ADD CHECK  (([status]='EXPIRED' OR [status]='FAILED' OR [status]='COMPLETED' OR [status]='PROCESSING' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[rooms]  WITH CHECK ADD CHECK  (([status]='BOOKED' OR [status]='AVAILABLE'))
GO
USE [master]
GO
